KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC=rss_news

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_PROXY_KEY=proxies

PROXY_SOURCE_URL=https://free-proxy-list.net/
PROXY_TEST_URL=https://www.google.com
PROXY_ENABLED=false
PROXY_POOL_SIZE=10
AIRFLOW_UID=50000
